.header {
  box-shadow: 0 4px 20px rgba(222, 222, 222, 0.2);
}

.header__body {
  display: grid;
  grid-template-columns: auto 1fr;
  padding: 3px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 6px;
}

.logo__img {
  width: 55px;
  height: 55px;
}

.logo__title {
  font-size: 16px;
  font-weight: 700;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.nav__item {
  position: relative;
  font-size: 16px;
  cursor: pointer;
}

.nav__item::before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -1px;
  height: 1px;
  width: 0;
  background-color: grey;
  transition: left 0.3s ease, width 0.3s ease;
}

.nav__item:hover::before {
  left: 0;
  width: 100%;
}

.nav__item a {
  color: #000;
}

.profile {
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
}

.profile__img {
  height: 40px;
  width: 40px;
}

.profile__name {
  font-size: 16px;
}

.burger {
  display: none;
}


@media (max-width: 991.8px) {
  .burger {
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
  }
}

.burger span {
  position: relative;
  height: 3px;
  width: 30px;
  background-color: #000;
  transition: background-color 0.5s ease;
  animation: closeBurgerMenu 0.5s forwards;
}

.burger span::after,
.burger span::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #000;
}

.burger span::before {
  top: 10px;
  animation: closeBurgerMenuBefore 0.5s forwards;
}

.burger span::after {
  bottom: 10px;
  animation: closeBurgerMenuAfter 0.5s forwards;
}

.burger_active span {
  animation: openBurgerMenu 0.5s forwards;
}

.burger_active span::before {
  animation: openBurgerMenuBefore 0.5s forwards;
}

.burger_active span::after {
  animation: openBurgerMenuAfter 0.5s forwards;
}

@media (max-width: 991.8px) {
  .header__body {
    grid-template-columns: 1fr auto;
  }

  .nav {
    position: absolute;
    top: 61px;
    right: 0;
    width: 100%;
    height: calc(100% - 61px);
    transform: translateX(100%);
    background-color: #fff;
    transition: transform 0.3s ease;
  }

  .nav_active {
    transform: translateX(0);
  }

  .nav__list {
    flex-direction: column;
    gap: 70px;
  }

  .nav__item {
    font-size: 24px
  }

  .profile__img {
    height: 45px;
    width: 45px;
  }

  .profile__name {
    font-size: 24px;
  }
}

@keyframes openBurgerMenu {
  50% {
    background-color: transparent;
  }

  100% {
    background-color: transparent;
  }
}

@keyframes openBurgerMenuBefore {
  50% {
    transform: translateY(-10px) rotate(0deg);
  }

  100% {
    transform: translateY(-10px) rotate(-45deg);
  }
}

@keyframes openBurgerMenuAfter {
  50% {
    transform: translateY(10px) rotate(0deg);
  }

  100% {
    transform: translateY(10px) rotate(45deg);
  }
}

@keyframes closeBurgerMenu {
  0% {
    background-color: transparent;
  }

  49% {
    background-color: transparent;
  }

  50% {
    background-color: #000;
  }

  100% {
    background-color: #000;
  }
}

@keyframes closeBurgerMenuBefore {
  0% {
    transform: translateY(-10px) rotate(-45deg);
  }

  50% {
    transform: translateY(-10px) rotate(0deg);
  }

  100% {
    transform: translateY(0) rotate(0);
  }
}

@keyframes closeBurgerMenuAfter {
  0% {
    transform: translateY(10px) rotate(45deg);
  }

  50% {
    transform: translateY(10px) rotate(0deg);
  }

  100% {
    transform: translateY() rotate(0deg);
  }
}